[Unit]
Description=Core System Management Daemon
After=dbus.service systemd-logind.service graphical-pre.target
Requires=dbus.service
Wants=graphical-pre.target
# If this service fails, trigger system shutdown
# OnFailure=poweroff.target TODO: Disabled for testing

[Service]
Type=simple
ExecStart=/usr/lib/jappeos_core/jappeos_core
Restart=no
# Don't restart, just die — systemd will handle shutdown
# Optionally, if we want it to restart during development:
# Restart=on-failure

#ProtectSystem=no # TODO
#ReadWritePaths=/jappeos
#ProtectHome=yes
#NoNewPrivileges=yes
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_BOOT CAP_SYS_TIME
#PrivateTmp=yes

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=basic.target
